<nav class="navbar bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">バスケの試合詳細</a>
    <div class="text-right">
    <%= link_to "バスケトップ", bsk_members_path, class: "btn btn-outline-light"  %>
    <%= link_to "試合一覧", bsk_matches_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>

<% if @match.bsk_members.present? %>
    <%= form_with(model: @member, local: true, url: bsk_match_path(@match), method: "patch") do |form| %>
        <% sorted_members = @match.bsk_members.sort_by(&:scoring_rate).reverse %>
        <% members_per_team = (@match.bsk_members.count.to_f / @match.coat).ceil %>
        <% teams = Array.new(@match.coat) { [] } %>

        <% sorted_members.each_with_index do |member, index| %>
            <% team_index = index % @match.coat %>
            <% teams[team_index] << member %>
        <% end %>

        <% teams.each_with_index do |team_members, team_index| %>
            <div class="container card mt-2 mb-2 border border-success border-3 mantine-cr1ooo">
            <h1 class="text-center">チーム <%= team_index + 1 %></h1>
            <div >
            <% team_members.each do |member| %>
                <div class="card"><%= member.name %><%= member.scoring_rate %><%= form.number_field "member_scoring_rate[#{member.id}]" %> </div>
            <% end %>
            </div>
            <% if team_members.size < members_per_team %>
                <div class="text-center mb-4">
                <h3>メンバーが足りません</h3>
                </div>
            <% else %>
            <% end %>
            </div>
        <% end %>
    <div class="text-center mb-4">
    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-success text-white" %>
    </div>
<% end %>
<% else %>
  <p>まだメンバーが参加していません。</p>
<% end %>
