<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold" href="#">メンバー確認</a>
  </div>
</nav>

<%= link_to new_member_path, class: "btn btn-outline-primary position-fixed rounded ", style: "bottom: 30px; right: 30px; z-index: 9999" do %>
  <h5>メンバーを登録</h5>
<% end %>


<% if @members.present? %>
  <div class="container mt-4">
    <div class="row row-cols-2 g-4">
      <% @members.each do |member| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to edit_member_path(member), class: "text-decoration-none text-dark" do %>
                  <%= member.name %>
                <% end %>
              </h5>
              <div class="card-text">
                <%= member.rating %>
              </div>
              <%= link_to "メンバー削除", member_path(member), class: "btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: '削除しますか?' } %>
              <% if member.already_participation? %>
                <span class="badge bg-success">参加中</span>
                <%= button_to member_participations_path(member), class: "btn btn-outline-secondary btn-sm", method: :delete, data: { turbo_method: :delete } do %>
                  不参加にする
                <% end %>
              <% else %>
                <%= button_to member_participations_path(member), class: "btn btn-outline-secondary btn-sm", method: :post, data: { turbo_method: :post } do %>
                  参加にする
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <p>参加中のメンバー数: <%= @members.select(&:already_participation?).count %></p>
<% else %>
  <p>メンバーが存在しません。</p>
<% end %>

<%= form_with(model: @match, url: matches_path, method: :post) do |form| %>
  <div class="mt-4">
    <%= form.label :coat, class: "form-label" %>
    <%= form.select :coat, (1..4).to_a, class: "form-select" %>
  </div>

  <%= form.submit "試合作成", class: "btn btn-outline-primary mt-3" %>
<% end %>

<%= link_to "試合一覧", matches_path, class: "btn btn-outline-secondary mt-3" %>

