<nav class="navbar bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">バスケメンバー詳細</a>
    <div class="text-right">
    <%= link_to "ホーム", root_path, class: "btn btn-outline-light"  %>
    <%= link_to "バスケトップ", bsk_members_path, class: "btn btn-outline-light"  %>
    <%= link_to "バスケメンバー登録", new_bsk_member_path, class: "btn btn-outline-light" %>
    <%= link_to "試合一覧", bsk_matches_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>


<% @members.each do |member| %>
<div class="card my-4">
<%= link_to edit_bsk_member_path(member), class: "text-decoration-none text-dark text-center" do %>
    なまえ：<%= member.name %><br>
    総合得点：<%= member.scoring_rate %><br>
    総合試合：<%= member.total_match %><br>
    平均：<%= number_with_precision(member.point_per_game, precision: 2) %><br>
  <%= link_to "メンバー削除", bsk_member_path(member), class: "btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: '削除しますか?' } %>
<% end %>
</div>
<% end %>