<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">バド試合詳細</a>
    <div class="text-right">
    <%= link_to "バドトップ", members_path, class: "btn btn-outline-light"  %>
    <%= link_to "試合一覧", matches_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>

<%
=begin%>
 <p>コート数: <%#= @match.coat %></p> 
<%
=end%>

<% if @match.members.present? %>
    <%
=begin%>
 <h2>参加メンバー</h2> 
<%
=end%>
<% counter = 0 %>


<% sorted_members = @match.members.order(rating: :desc) %>
<% members_per_court = (@match.members.count.to_f / @match.coat).ceil %>
<% remaining_members = @match.members.count - sorted_members.compact.count %>

<% sorted_members.in_groups_of(members_per_court, false).each do |c_m| %>
  <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
    <h1 class="text-center">コート<%= counter += 1 %></h1>
        <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
            <% if c_m.compact.size == 4 %>
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第一試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:無し </h5>
            </div>
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第二試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:無し </h5>
            </div>
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第三試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %> </h5></div><h5 class="text-center"> 休み:無し </h5>
            </div>
            <% elsif c_m.compact.size == 5%>
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第一試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[4].name %> </h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第二試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[3].name %> </h5>
            </div>       
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第三試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %> </h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第四試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[1].name %> </h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-3">第五試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %> </h5>
            </div>     
            <% elsif c_m.compact.size == 6%>
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第一試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[5].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[4].name %>/<%= c_m[5].name %></h5>
            </div> 
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第二試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[5].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %>/<%= c_m[3].name %></h5>
            </div> 
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第三試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[3].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[5].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[5].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %>/<%= c_m[1].name %></h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第四試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[4].name %>/<%= c_m[5].name %></h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第五試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[5].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[5].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %>/<%= c_m[3].name %></h5>
            </div>  
            <div class="card m-2 bg-primary-subtle">
                <h3 class="text-center mt-1">第六試合</h3>
                <div class="card mx-4">
                <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[5].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[5].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[2].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %>/<%= c_m[1].name %></h5>
            </div>   
            <% elsif c_m.compact.size >= 7%>
            人数が多すぎるのでコートを分けて下さい。
            現在の人数は<%= c_m.compact.size %>人です。
            <% end %>
        <div class="text-center mb-4">
        <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
        </div>
        <% end %>
    </div>
     <% members_per_court = ((remaining_members.to_f) / (@match.coat - 1)).ceil %>
    <% end %>
<% else %>
  <p>まだメンバーが参加していません。</p>
<% end %>



