<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">バド試合詳細</a>
    <div class="text-right">
    <%= link_to "バドトップ", members_path, class: "btn btn-outline-light"  %>
    <%= link_to "試合一覧", matches_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>
<% if @match.members.present? %>
    <% counter = 0 %>
    <% if @match.members.compact.size == 13 %>
        <% sorted_members = @match.members.order(rating: :asc) %>
        <% sorted_members.in_groups_of(@match.members.count.to_f, false).each do |c_m| %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート1</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:<%= c_m[4].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[3].name %> </h5>
                    </div>       
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[1].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %> </h5>
                    </div>  
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
                <% end %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート2</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[6].id}],[#{c_m[7].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[6].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[7].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[6].id}]" , false, {multiple: true} %>  <%= c_m[7].name %>/<%= c_m[8].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[7].id}],[#{c_m[6].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[7].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[7].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[8].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[8].id}],[#{c_m[6].id},#{c_m[7].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[8].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[7].id}],[#{c_m[5].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[7].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
            <% end %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート3</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[10].id}],[#{c_m[11].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[10].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[11].id},#{c_m[12].id}],[#{c_m[9].id},#{c_m[10].id}]" , false, {multiple: true} %>  <%= c_m[11].name %>/<%= c_m[12].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[11].id}],[#{c_m[10].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[11].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[12].id}],[#{c_m[9].id},#{c_m[11].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[12].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[12].id}],[#{c_m[10].id},#{c_m[11].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[12].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[11].id}],[#{c_m[9].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[11].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
        <% end %>
        <% end %>
    <% elsif @match.members.compact.size == 17 %>
        <% sorted_members = @match.members.order(rating: :asc) %>
        <% sorted_members.in_groups_of(@match.members.count.to_f, false).each do |c_m| %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート1</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:<%= c_m[4].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[3].name %> </h5>
                    </div>       
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[1].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %> </h5>
                    </div>  
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
                <% end %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート2</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[6].id}],[#{c_m[7].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[6].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[7].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[6].id}]" , false, {multiple: true} %>  <%= c_m[7].name %>/<%= c_m[8].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[7].id}],[#{c_m[6].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[7].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[7].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[8].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[8].id}],[#{c_m[6].id},#{c_m[7].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[8].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[7].id}],[#{c_m[5].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[7].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
                <% end %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート3</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[10].id}],[#{c_m[11].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[10].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[11].id},#{c_m[12].id}],[#{c_m[9].id},#{c_m[10].id}]" , false, {multiple: true} %>  <%= c_m[11].name %>/<%= c_m[12].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[11].id}],[#{c_m[10].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[11].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[12].id}],[#{c_m[9].id},#{c_m[11].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[12].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[9].id},#{c_m[12].id}],[#{c_m[10].id},#{c_m[11].id}]" , false, {multiple: true} %>  <%= c_m[9].name %>/<%= c_m[12].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[11].id}],[#{c_m[9].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[11].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート4
                </h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[13].id},#{c_m[14].id}],[#{c_m[15].id},#{c_m[16].id}]" , false, {multiple: true} %>  <%= c_m[13].name %>/<%= c_m[14].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[15].id},#{c_m[16].id}],[#{c_m[13].id},#{c_m[14].id}]" , false, {multiple: true} %>  <%= c_m[15].name %>/<%= c_m[16].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[13].id},#{c_m[15].id}],[#{c_m[14].id},#{c_m[16].id}]" , false, {multiple: true} %>  <%= c_m[13].name %>/<%= c_m[15].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[14].id},#{c_m[16].id}],[#{c_m[13].id},#{c_m[15].id}]" , false, {multiple: true} %>  <%= c_m[14].name %>/<%= c_m[16].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[13].id},#{c_m[16].id}],[#{c_m[14].id},#{c_m[15].id}]" , false, {multiple: true} %>  <%= c_m[13].name %>/<%= c_m[16].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[14].id},#{c_m[15].id}],[#{c_m[13].id},#{c_m[16].id}]" , false, {multiple: true} %>  <%= c_m[14].name %>/<%= c_m[15].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
        <% end %>
        <% end %>
        <% end %>
    <% elsif @match.members.compact.size == 18 %>
        <% sorted_members = @match.members.order(rating: :asc) %>
        <% sorted_members.in_groups_of(@match.members.count.to_f, false).each do |c_m| %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート1</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:<%= c_m[4].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[3].name %> </h5>
                    </div>       
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[1].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %> </h5>
                    </div>  
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
                <% end %>
                
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート2</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[6].id}],[#{c_m[7].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[6].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[7].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[6].id}]" , false, {multiple: true} %>  <%= c_m[7].name %>/<%= c_m[8].name %> </h5>
                        </div><h5 class="text-center"> 休み:<%= c_m[9].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[7].id}],[#{c_m[6].id},#{c_m[9].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[7].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[9].id}],[#{c_m[5].id},#{c_m[7].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[9].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[8].name %> </h5>
                    </div>       
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[9].id}],[#{c_m[6].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[9].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[8].id}],[#{c_m[5].id},#{c_m[9].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[8].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[7].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[5].id},#{c_m[8].id}],[#{c_m[7].id},#{c_m[9].id}]" , false, {multiple: true} %>  <%= c_m[5].name %>/<%= c_m[8].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[7].id},#{c_m[9].id}],[#{c_m[5].id},#{c_m[8].id}]" , false, {multiple: true} %>  <%= c_m[7].name %>/<%= c_m[9].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[6].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[6].id},#{c_m[7].id}],[#{c_m[8].id},#{c_m[9].id}]" , false, {multiple: true} %>  <%= c_m[6].name %>/<%= c_m[7].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[8].id},#{c_m[9].id}],[#{c_m[6].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[8].name %>/<%= c_m[9].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[5].name %> </h5>
                    </div>  
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
                <% end %>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート3</h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[11].id}],[#{c_m[12].id},#{c_m[13].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[11].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[12].id},#{c_m[13].id}],[#{c_m[10].id},#{c_m[11].id}]" , false, {multiple: true} %>  <%= c_m[12].name %>/<%= c_m[13].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[12].id}],[#{c_m[10].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[12].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[11].id},#{c_m[13].id}],[#{c_m[10].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[11].name %>/<%= c_m[13].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[10].id},#{c_m[13].id}],[#{c_m[11].id},#{c_m[12].id}]" , false, {multiple: true} %>  <%= c_m[10].name %>/<%= c_m[13].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[11].id},#{c_m[12].id}],[#{c_m[10].id},#{c_m[13].id}]" , false, {multiple: true} %>  <%= c_m[11].name %>/<%= c_m[12].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
            <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
                <h1 class="text-center">コート4
                </h1>
                <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[14].id},#{c_m[15].id}],[#{c_m[16].id},#{c_m[17].id}]" , false, {multiple: true} %>  <%= c_m[14].name %>/<%= c_m[15].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[16].id},#{c_m[17].id}],[#{c_m[14].id},#{c_m[15].id}]" , false, {multiple: true} %>  <%= c_m[16].name %>/<%= c_m[17].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[14].id},#{c_m[16].id}],[#{c_m[15].id},#{c_m[17].id}]" , false, {multiple: true} %>  <%= c_m[14].name %>/<%= c_m[16].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[15].id},#{c_m[17].id}],[#{c_m[14].id},#{c_m[16].id}]" , false, {multiple: true} %>  <%= c_m[15].name %>/<%= c_m[17].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[14].id},#{c_m[17].id}],[#{c_m[15].id},#{c_m[16].id}]" , false, {multiple: true} %>  <%= c_m[14].name %>/<%= c_m[17].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[15].id},#{c_m[16].id}],[#{c_m[14].id},#{c_m[17].id}]" , false, {multiple: true} %>  <%= c_m[15].name %>/<%= c_m[16].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div> 
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
                </div>
        <% end %>
        <% end %>
        <% end %>
    <% else %>

    <% sorted_members = @match.members.order(rating: :asc) %>
    <% members_per_court = (@match.members.count.to_f / @match.coat).ceil %>
    <% remaining_members = @match.members.count - sorted_members.compact.count %>

    <% sorted_members.in_groups_of(members_per_court, false).each do |c_m| %>
        <div class="container card mt-2 mb-2 border border-primary border-3 mantine-cr1ooo">
            <h1 class="text-center">コート<%= counter += 1 %></h1>
            <%= form_with(model: @member, local: true, url: match_path(@match),method: "patch") do |form| %>
                <% if c_m.compact.size == 4 %>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %> </h5>
                        </div><h5 class="text-center"> 休み:無し </h5>
                    </div>
                <% elsif c_m.compact.size == 5%>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第一試合</h3>
                            <div class="card mx-4">
                            <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                            <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5>
                        </div><h5 class="text-center"> 休み:<%= c_m[4].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[3].name %> </h5>
                    </div>       
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[3].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[3].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[1].name %> </h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-3">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[2].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %> </h5>
                    </div>     
                <% elsif c_m.compact.size == 6%>
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第一試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[1].id}],[#{c_m[2].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[1].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[1].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[5].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[4].name %>/<%= c_m[5].name %></h5>
                    </div> 
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第二試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[4].id}],[#{c_m[1].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[5].id}],[#{c_m[0].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %>/<%= c_m[3].name %></h5>
                    </div> 
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第三試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[4].id}],[#{c_m[3].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[4].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[5].id}],[#{c_m[2].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[5].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %>/<%= c_m[1].name %></h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第四試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[2].id}],[#{c_m[1].id},#{c_m[3].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[2].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[3].id}],[#{c_m[0].id},#{c_m[2].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[3].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[4].name %>/<%= c_m[5].name %></h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第五試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[0].id},#{c_m[5].id}],[#{c_m[1].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[0].name %>/<%= c_m[5].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[1].id},#{c_m[4].id}],[#{c_m[0].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[1].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[2].name %>/<%= c_m[3].name %></h5>
                    </div>  
                    <div class="card m-2 bg-primary-subtle">
                        <h3 class="text-center mt-1">第六試合</h3>
                        <div class="card mx-4">
                        <h5 class="text-center my-2"><%= check_box_tag 'member_reslt[]', "[#{c_m[2].id},#{c_m[5].id}],[#{c_m[3].id},#{c_m[4].id}]" , false, {multiple: true} %>  <%= c_m[2].name %>/<%= c_m[5].name %></h5><h5 class="text-center">  VS  </h5><h5 class="text-center">
                        <%= check_box_tag 'member_reslt[]', "[#{c_m[3].id},#{c_m[4].id}],[#{c_m[2].id},#{c_m[5].id}]" , false, {multiple: true} %>  <%= c_m[3].name %>/<%= c_m[4].name %> </h5></div><h5 class="text-center"> 休み:<%= c_m[0].name %>/<%= c_m[1].name %></h5>
                    </div>   
                <% elsif c_m.compact.size >= 7%>
                    人数が多すぎるのでコートを分けて下さい。
                    現在の人数は<%= c_m.compact.size %>人です。
                <% end %>
                <div class="text-center mb-4">
                    <%= form.submit '結果を保存', onclick: "if (!confirm('結果を保存してもよろしいですか？')) { return false; } this.disabled=true; this.form.submit(); return true;", class: "btn btn-primary text-white" %>
                </div>
            <% end %>
        </div>
    <% end %>
    <% end %>
<% else %>
  <p>まだメンバーが参加していません。</p>
<% end %>



