<h1>試合詳細</h1>

<p>コート: <%= @match.coat %></p>

<% if @match.members.present? %>
  <h2>参加メンバー</h2>

  <% sorted_members = @match.members.sort_by(&:rating) %>
  <% members_per_court = (@match.members.count.to_f / @match.coat).ceil %>


  <% sorted_members.in_groups_of(members_per_court, false).each do |court_members| %>
    <h3>コート</h3>
    <% court_members.compact.combination(2).to_a.each do |pair| %>
      <p><%= pair[0].name %>、<%= pair[1].name %> VS <%= (court_members - pair)[0].name %>、<%= (court_members - pair)[1].name %> 休み <%= (court_members - pair)[2]&.name %></p>
    <% end %>
  <% end %>

<% else %>
  <p>まだメンバーが参加していません。</p>
<% end %>

<%= link_to "試合一覧", matches_path %>
<%= link_to "ホーム", root_path %>
