<nav class="navbar bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">メンバー編集</a>
    <div class="text-right">
    <%= link_to "ホーム", root_path, class: "btn btn-outline-light"  %>
    </div>
  </div>
</nav>

<div class="card m-2 text-center">
<%= form_with(model: @member, local: true) do |form| %>
  <div class="field mt-2">
    <%= form.label :name,"名前" %>
    <%= form.text_field :name %>
  </div>

  <div class="field mt-2">
    <%= form.label :rating,"レート" %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions mt-2 mb-2">
    <%= form.submit "メンバー編集", class: "btn btn-outline-info" %>
  </div>
<% end %>
</div>

