<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-weight-bold">バドメンバー確認</a>
    <div class="text-right">
    <%= link_to "ホーム", root_path, class: "btn btn-outline-light" %>
    <%= link_to "バドメンバーを登録",new_member_path, class: "btn btn-outline-light" %>
    <%= link_to "バド試合一覧", matches_path, class: "btn btn-outline-light" %>
    </div>
  </div>
</nav>
<%#=image_tag "20231107-00368647-theanswer-000-6-view.jpg" %>
<% if @members.present? %>
  <div class="container mt-4">
    <div class="row row-cols-2 g-4">
      <% @members.each do |member| %>
        <div class="col">

          <% if member.already_participation? %>
          <div class="card text-center border border-primary border-2">
            <div class="card-body">
              <h5 class="card-title ext-decoration-none text-dark">
                  <%= member.name %><br>
                <% if member.already_participation? %>
                  <span class="badge bg-primary">参加中</span>
                <% end %>
              </h5>
              <% if member.already_participation? %>
                <%= button_to member_participations_path(member), class: "btn btn-outline-secondary btn-sm btn-block", method: :delete, data: { turbo_method: :delete } do %>
                  不参加にする
                <% end %>
              <% else %>
                <%= button_to member_participations_path(member), class: "btn btn-outline-primary btn-sm", method: :post, data: { turbo_method: :post } do %>
                  参加にする
                <% end %>
              <% end %>
              
            </div>
          </div>
          <% else %>

          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to edit_member_path(member), class: "text-decoration-none text-dark" do %>
                  <%= member.name %>
                <% end %>
              </h5>
              <% if member.already_participation? %>
                <%= button_to member_participations_path(member), class: "btn btn-outline-secondary btn-sm btn-block", method: :delete, data: { turbo_method: :delete } do %>
                  不参加にする
                <% end %>
              <% else %>
                <%= button_to member_participations_path(member), class: "btn btn-outline-primary btn-sm", method: :post, data: { turbo_method: :post } do %>
                  参加にする
                <% end %>
              <% end %>
              
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <h5 class="text-center mt-2" >参加中のメンバー数: <%= @members.select(&:already_participation?).count %></h5>
<% else %>
  <p>メンバーが存在しません。</p>
<% end %>

<div class="container mb-4">
<div class="card border border-primary border-2">
<%= form_with(model: @match, url: matches_path, method: :post) do |form| %>
  <h5 class="text-center mt-4">
    <%= form.label :coat, "使用コート数を選択", class: "form-label" %>
    <%= form.select :coat, (1..4).to_a, class: "form-select" %>
  </h5>
  <%#= form.fields_for :member do |member_form| %>
    <%#= form.hidden_field :member_id, value: @member_ids.any? ? @member_ids.join(',') : nil %>
  <%# end %>
  <div class="text-center mb-4">
  <%= form.submit "試合作成", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
</div>
</div>

<%= link_to "I", detail_members_path, class: "btn btn-outline-light btn-sm" %>