<h1>ユーザー登録</h1>
<h1>レート目安<br>全く初めて：1000<br>体育でやったことある：1500<br>経験者：1800</h1>

<%= form_with(model: @member, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="actions">
    <%= form.submit "メンバー登録" %>
  </div>
<% end %>

<%= link_to "ホーム",root_path %>